
.card{
    height: 500px;
    width: 350px;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.sec1{
    height: 50%;
    background-image: url(https://images.pexels.com/photos/77171/pexels-photo-77171.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sec2{
    
    margin: 20px;
    background-color:azure;
}
.cardtitle{
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
}
.cardtext{
    font-size: 20px;
}
.cardpara{
    font-size: 12px;
}
.cardprofile{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.username{

}
.onlinestatus{
    font-size: 15px;
    color: gray;
    display: flex;
    justify-content: center;
}
